<h1 class="mt-4">Planos</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ plano.id ? 'Edição' : 'Cadastro'}}</li>
</ol>
<div class="container">
    <form #form="ngForm" (submit)="onSubmit()">
        <div class="row">    
    <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="success == true">
            Plano Salvo/Atualizado com sucesso!
        </div>
        <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
            {{ erro }}
        </div>
    </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome:</label>
                        <input class="form-control" 
                        [(ngModel)]="plano.nome"
                         type="text" name="nome" 
                         id="nome"/>
                    </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Valor:</label>
                        <input class="form-control" 
                        [(ngModel)]="plano.valor"
                         type="text" name="valor" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success" (click)="onSubmit()" *ngIf="!plano.id">
                    <i class="fa fa-save"></i>Salvar
                </button>
                <button type="submit" class="btn btn-primary" (click)="onSubmit()" *ngIf="plano.id">
                    <i class="fa fa-sync-alt"></i>Atualizar
                </button>

                <button type="button" class="btn btn-danger ml-1" (click)="voltar()">
                    <i class="fa fa-arrow-alt-circle-left"></i>Voltar
                </button>
            </div>
        </div>
    </form>
</div>